In [2]:
import pandas as pd
from sqlalchemy.engine import create_engine
import sqlite3

In [3]:
cd "C:\Users\rayde\iCloudDrive\GitHub"

C:\Users\rayde\iCloudDrive\GitHub

In [4]:
conn = sqlite3.connect('stocks.db')

In [6]:
c = conn.cursor()

In [23]:
c.execute('''CREATE TABLE stocks (date text, trans text, symbol text, price real)''')

OperationalError: table stocks already exists

In [10]:
conn.commit()

In [11]:
conn.close()

In [12]:
conn = sqlite3.connect('stocks.db')

In [13]:
c = conn.cursor()

In [20]:
for row in c.execute('SELECT * FROM stocks'): 
    print(row)

In [24]:
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 72.00),
             ('2006-04-06', 'SELL', 'IBM', 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

None

OperationalError: table stocks has 4 columns but 5 values were supplied

In [ ]:
#enable_sql = %sql select * from runtime.queries limit 1 
#enable_sql.DataFrame().head()