In [1]:
#Create Table
#Query Table

import sqlite3 as sql

%load_ext sql

database = 'sql_example.db3'

connection = sql.connect(database)

In [2]:
connection

In [3]:
%%sql sqlite://
    
CREATE TABLE writer(
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    USERID int NOT NULL UNIQUE,
    PRIMARY KEY (USERID)
);

Done.

[]

In [4]:
%%sql sqlite://
    INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
    INSERT INTO writer VALUES ('Lin', 'Han', 1996);
    INSERT INTO writer VALUES ('Peter', 'Brecht', 1978);

1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
sqlres = %sql SELECT * from writer
sqlres

 * sqlite://
Done.

[('William', 'Shakespeare', 1616),
 ('Lin', 'Han', 1996),
 ('Peter', 'Brecht', 1978)]

In [6]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite://
Done.

[('writer',)]

In [7]:
%sql select * from writer where 1=0

 * sqlite://
Done.

[]

In [8]:
%sql select * from writer LIMIT 1

 * sqlite://
Done.

[('William', 'Shakespeare', 1616)]

In [9]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite://
Done.

[('writer',)]